:root {
  --main-color: rgb(5, 105, 50);
  --hover-color: rgb(65, 160, 100);
  --active-color: rgb(30,130,150);
  --main-border: 2px solid bisque;
  --active-box-shadow: inset 0px 0px 7px 7px black;
}
body {
  min-height: 100vh;
  background: linear-gradient(0deg,rgb(0, 0, 0) 5%, var(--main-color) 50%,rgb(30, 130, 150) 65%,rgb(25, 80, 40) 90%)
}
main {
  width: 70%;
  min-width: 350px;
  margin: 10vh auto;
}
.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.squares__container {
  display: grid;
  grid-template-columns: repeat(calc(var(--js-column-count)*5), 1fr);
  grid-gap: 0.2em;
  padding: 1em;
  background-color: var(--main-color);
  border: var(--main-border);
  border-radius: 0.3em;
}
.menu__number,
.menu__input,
.menu__btn {
  font-size: 1.5rem;
  padding: 0.5em;
  border-radius: 0.3em;
  max-width: 30%;
  background-color: var(--main-color);
  color: bisque;
  border: var(--main-border);
}
.squares__square {
  aspect-ratio: 1/1;
  border: var(--main-border);
  border-radius: inherit;
}
.squares__square.active {
  background-color: var(--active-color);
  -webkit-box-shadow: var(--active-box-shadow);
  -moz-box-shadow: var(--active-box-shadow);
  box-shadow: var(--active-box-shadow);
  border: none;
}
.menu__number:hover,
.menu__input:hover,
.menu__btn:hover,
.squares__square:hover,
.squares__square.active:hover {
  background-color:var(--hover-color);
}
