body {
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 10%,
    rgb(5, 120, 60) 50%,
    rgb(30, 130, 150) 60%,
    rgb(25, 80, 40) 85%
  );
  min-height: 100vh;
}
main {
  margin: 5vh auto;
  width: 50%;
  min-width: 700px;
}
.squares__container {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: auto repeat(7, 1fr);
  grid-gap: 0.2em;
  margin-top: 0.5em;
  padding: 1em;
  height: 25em;
  background-color: rgb(5, 104, 50);
}
.squares__menu__input,
.squares__menu__btn,
.squares__square.active {
  background-color: rgb(65, 160, 100);
  color: bisque;
  border-color: bisque;
}
.squares__container,
.squares__square {
  border: 1px solid black;
  border-radius: 0.3em;
}
.squares__menu {
  display: flex;
  justify-content: space-around;
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
  margin-bottom: 1em;
}
.squares__menu__input,
.squares__menu__btn {
  font-size: 2rem;
  padding: 0.5em;
  max-width: 40%;
}
